In [1]:
import os
import os.path as osp
import numpy as np
import pandas as pd

from pyturbo import Stage, Task
from torchvision.io import read_video

import sys
sys.path.append('/root/class/cmu/LSMA/ls-hw2/code')

/root/anaconda3/envs/ls-hw2/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
DATA_BASE_DIR = '/shared/youngkim/'
P1_DATA_DIR = osp.join(DATA_BASE_DIR,'dataset')
P2_DATA_DIR = osp.join(DATA_BASE_DIR,'ls-hw2')

In [3]:
train_df = pd.read_csv(osp.join(P1_DATA_DIR, 'labels/train_val.csv'))
train_df

                                Id  Category
0     NjUzNjkxMTk0MzI5NDYwNTA2NA==         0
1     LTcxNTE1MDY1Mjc5NzMxMTExNDI=         0
2     NTMyNTQxODcwODc5MjU2NDk4NA==         0
3     LTY0NjAxNjcyNTUyNDI5Mzc2MTE=         0
4     NTgzMjc4Mzk0MjQwMzYyMjA1NQ==         0
...                            ...       ...
7495  LTUxMTQ5Mjg2OTQyNjgyMTc1NzA=        14
7496  NDA2NjM0NDg5MDc3NzM3NjQ5OA==        14
7497  LTEwMzgyODQzNTYwMjM5NDY3NzI=        14
7498  LTQzOTI1MDQ1OTQ3NzUyMjQ4Mg==        14
7499  LTIwMTA2OTMzMjU2MzMyNzExMDA=        14

[7500 rows x 2 columns]

In [15]:
test_df = pd.read_csv(osp.join(P1_DATA_DIR, 'labels/test_for_students.csv'))
test_df

                               Id  Category
0    LTExODM2Mzc0ODQyOTc1ODE4NDM=       NaN
1    LTUwNDU3NzgyNjE2Mzk0OTU1NjQ=       NaN
2        ODU3OTE0MDU5NzM5NDI2MDQ2       NaN
3    LTQ4OTE2NDk5ODk4MTA3NDY5Mzg=       NaN
4    MjkzNzMwNzkxNTg5NDA1Mjk3NQ==       NaN
..                            ...       ...
744  Nzk0NzA0MjYxMTg3NDkxNjQ4OQ==       NaN
745  LTMzMjA0NjkyNzYwMDQ0NDUyNzY=       NaN
746  LTQxNDgxNjU0MzY3OTQzNzIzMTc=       NaN
747  NjQyMjk5MDM5OTgwNzY2NDU1MQ==       NaN
748  LTk2NzY1NzIyNTY3MzIxMDkyOA==       NaN

[749 rows x 2 columns]

In [12]:
p2_test_df = pd.read_csv(osp.join(P2_DATA_DIR, 'labels_p2/test_for_students.csv'))
p2_test_df

                                 Id  Category
0      LTI3ODUwNDg0ODQ3ODU5NjMyMzE=       NaN
1      LTE2NjkzNTE4MTkyMzQxNzcwMDY=       NaN
2      LTMxMDkxNDczMTM3NTQxNTE0MzE=       NaN
3      LTY4MjcyMzQ2MzE0MjMxNzk2ODA=       NaN
4      LTQwOTc4NzQ4MjY0NDI5NjAyMDc=       NaN
...                             ...       ...
29689  LTgyMjIxOTg3NTEzNDM5OTM1MDM=       NaN
29690  LTc4MjY5OTAwODA2MDE3OTk4NjY=       NaN
29691  LTE0MTUxMzY4OTc3OTY1MzY5Mjg=       NaN
29692  LTIyODkwNDQ5OTkwMDUzODcwODc=       NaN
29693  ODUwNDkyMDIzNTI0OTE0MjU5NA==       NaN

[29694 rows x 2 columns]

In [8]:
len(os.listdir(osp.join(P1_DATA_DIR, 'videos')))

8249

In [13]:
len(os.listdir(osp.join(P2_DATA_DIR,'videos_p2')))

29694

In [23]:
# p1_data_df = pd.concat([train_df, test_df], ignore_index=True)
# p1_data_df.to_csv(osp.join(P1_DATA_DIR, 'labels/total.csv'), index=False)

In [5]:
p1_total_df = pd.read_csv(osp.join(P1_DATA_DIR, 'labels/total.csv'))
p1_total_df

                                Id  Category
0     NjUzNjkxMTk0MzI5NDYwNTA2NA==       0.0
1     LTcxNTE1MDY1Mjc5NzMxMTExNDI=       0.0
2     NTMyNTQxODcwODc5MjU2NDk4NA==       0.0
3     LTY0NjAxNjcyNTUyNDI5Mzc2MTE=       0.0
4     NTgzMjc4Mzk0MjQwMzYyMjA1NQ==       0.0
...                            ...       ...
8244  Nzk0NzA0MjYxMTg3NDkxNjQ4OQ==       NaN
8245  LTMzMjA0NjkyNzYwMDQ0NDUyNzY=       NaN
8246  LTQxNDgxNjU0MzY3OTQzNzIzMTc=       NaN
8247  NjQyMjk5MDM5OTgwNzY2NDU1MQ==       NaN
8248  LTk2NzY1NzIyNTY3MzIxMDkyOA==       NaN

[8249 rows x 2 columns]

In [20]:
subset_df = p1_total_df.iloc[:420,:]
subset_df.to_csv(osp.join(P1_DATA_DIR, 'labels/subset.csv'), index=False)

In [11]:
set(p1_total_df.Id.tolist()) - set([p.split('.')[0] for p in os.listdir(osp.join(P1_DATA_DIR,'bow_sift_128'))])

{'Mjg0MDgxODgzMDUyOTk3NjE2OA=='}

In [6]:
set(p1_total_df.Id.tolist()) - set([p.split('.')[0] for p in os.listdir(osp.join(P1_DATA_DIR,'cnn_resnet50'))])

{'Mjg0MDgxODgzMDUyOTk3NjE2OA=='}

In [16]:
'OTkzNjg0NTg5ODY2NTMxNzQ0' in test_df.Id.tolist()

False

In [7]:
'OTkzNjg0NTg5ODY2NTMxNzQ0' in [p.split('.')[0] for p in os.listdir(osp.join(P1_DATA_DIR,'cnn_resnet50'))]

False

In [18]:
data_path = '/shared/youngkim/ls-hw2'
file_name = 'LTI3NTA5MjY3MDQwMTgwMDg5MjY=.mp4'
video_path = osp.join(data_path, 'videos_p2')
sift_path = osp.join(data_path, 'sift')
read_video(osp.join(video_path, file_name))

(tensor([], size=(0, 1, 1, 3), dtype=torch.uint8), tensor([], size=(1, 0)), {})

In [22]:
os.listdir(sift_path)[0]

'NjYwNzAxMTMwMTIzMTcxNjQzNQ==.pkl'

In [25]:
video_not_found = set([p.split('.')[0] for p in os.listdir(video_path)]) - set([p.split('.')[0] for p in os.listdir(sift_path)])

In [26]:
video_not_found

{'LTI3NTA5MjY3MDQwMTgwMDg5MjY=',
 'NjM0NTkzODMwMTIzMDAyOTcwNg==',
 'NzIyODk0Mjc2MTE4OTM3NTk4',
 'ODU0NjMxNTczMDI0MTQwMjE5MA=='}